.loader {
	width: 32px;
	height: 32px;
	display: inline-block;
	position: relative;
	outline: none;
}
.loader::after,
.loader::before {
	content: "";
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2px solid transparent;
	position: absolute;
	left: 0;
	top: 0;
	animation: animloader 2s linear infinite;
}
.loader::after {
	animation-delay: 1s;
}

@keyframes animloader {
	0% {
		transform: scale(0);
		opacity: 1;
		border-color: #fff;
	}
	100% {
		transform: scale(1);
		opacity: 0;
		border-color: #fff;
	}
}
